# Arquivos gerados na compilação do Delphi

*.dcu
*.exe

*.local

*.identcache

*.dproj


Test/*.dcu
Test/*.exe
Test/*.local
Test/*.identcache
Test/*.dproj
Test/*.dcu


Win32/*.*

__history/*.*
Test/__history/*.*

data-structure/rifa/__history/*.*
data-structure/rifa/*.exe
data-structure/rifa/*.dcu